{% extends 'base.html' %}
{% block content %}
<div class="top">
    <p>login</p>
</div>
<div class="log">
    <title>login</title>
    <div class="background">
    	
<form action="login" method="POST">
    {% csrf_token %}
    <input type="text" id='aj' name="username" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="login"><br>
</form>
</div>
<div class="reset">
<a  href="{% url 'password_reset' %}" >forgot password</a>
</div>

<div class="message">
    {% for i in messages %}

    <p>{{i}}</p>
    {% endfor %}
</div>
</div>
{% endblock %}